/* Common styles */
* {
   box-sizing: border-box;
 }
 
 html {
   font-size: 18px;
   font-family: Georgia, serif;
 }
 
 body {
   background-color: #fbfbfb;

 }
 
 h1, h2, h3 {
   margin-top: 0;
 }
 
 header h1 {
   margin: 0;
 }
 
 main p {
   margin-bottom: 0;
 }

.container {
   display: grid;
   margin: 0 2rem;
   grid-template-columns: 2fr 6fr 4fr;
   grid-template-rows: 3rem auto auto auto;
   grid-gap: 1rem;
   grid-template-areas: "logo menu menu"
                         "content content sidebar"
                         "sponsors sponsors sponsors"
                         "footer footer footer";
}
.header {
  display: flex;
}

.logo {
  align-self: center;
  grid-area: logo;
}
.main-menu {
  grid-area: menu;
  align-self: center;
  justify-self: end;
  border: 1px solid red;
}
.main-menu ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.main-menu  .main-menu__item {
   list-style-type: none;
   padding: 0;
   margin-right: .5rem;
   font-size: 1.1rem;
}
.main-menu__item:last-of-type {
  margin-right: 0;
}
.main-menu a {
   text-decoration: none;
}


.content-area {
    grid-area: content;
}
.sidebar {
   grid-area: sidebar;
}
.sponsors-wrapper {
   grid-area: sponsors;
}
.sponsors {
  display: flex;
}
.footer {
   grid-area: footer;
}

 @media all and (max-width: 992px) {
   .container {
     margin: 0 1rem;
   }
   
   .sponsors {
     border-spacing: 0.5rem;
   }
 }
 
 @media all and (max-width: 768px) {
   html {
     font-size: 14px;
   }
   
   .content-area, .sidebar {
     float: none;
   }
 
   .content-area {
     grid-area: content;
   }
 
   .sidebar {
     grid-area: sidebar;
   }
   
   .sponsors, .sponsor {
     display: block;
   }
 
   .sponsor {
     width: 100%;
     margin: 1rem 0;
   }
 }
 
 @media all and (max-width: 576px) {

   .main-menu, .logo {
     float: none;
     width: 100%;
   }
 
   .main-menu {
     text-align: left;
     margin-top: 2rem;
   }
 
   .main-header {
     height: auto;
   }
 
   .logo, .main-menu {
     line-height: initial;
   }

 }